@import url('https://fonts.googleapis.com/css?family=Griffy');

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
}

p {
	&.griffy {
		font-family: 'Griffy', cursive;
		font-size: 28px;
	}
}

.container {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
@media screen and (min-width: 768px){
	.container .jumbotron, .container-fluid .jumbotron {
		padding-top: 35px;
		padding-bottom: 35px;
	}
}
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}